



.testimonial {

  width: 300px;
  height: 280px;
  background: #ADEFD1FF;
  padding: 4em 3em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075), 0 3px 3px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.075), 0 9px 9px rgba(0, 0, 0, 0.075), 0 17px 17px rgba(0, 0, 0, 0.075);
  position: relative;
}

.testimonial .quote {
    position: absolute;
    font-size: 3em;
    width: 40px;
    height: 40px;
    background: #00203FFF;
    color: #fff;
    text-align: center;
    line-height: 1.5;
  }
.testimonial .quote.open {
  top: 0;
  left: 0;
}
.testimonial .quote.close {
  bottom: 0;
  right: 0;
}
.testimonial p {
  margin-top: 10px;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: .9em;
}

.testimonial .source span {
  font-weight: bold;
  font-size: .7em;
  position: relative;
  margin-left: .5rem;
  display: flex;
}
.testimonial .source span:before {
  content: "—";
  display: inline;
}

