*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 100vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

}
a{
    position: relative;
    text-decoration: none;
    font-family: roboto;
    color: #e9e1e1;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #cebcbc;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: width 0.3s, font-size 0.3s; /* Combine transitions */
    font-size: 30px;

}
a:hover{
    color: #9e9ea4;
    font-weight: 400;
}
a:hover:after{
    width: 100%;
    font-size: 20px;
    transition-delay: 0.3s;
}